*{
    margin: 0;
    padding: 0;
}
.logo{
    
    display: block;
    margin: auto;
    height: 95px;
    width: 135px;
    
    
    
}

body{
    background-image: linear-gradient(rgb(24,255,255),purple);

}
.container{
    max-width: 600px;
    background-color: red;
    margin: auto;
    height: 74vh;
    overflow-y: auto;
    margin-bottom: 11px;
    background: none;
    border: 2px solid black;
}
.message{
    
   width: 39%;
    padding: 9px;
    margin: 3px 5px;
    font-size: 23px;
    

}
.left{
    
float: left;
clear: both;
border: 3px solid black;
    border-radius: 18px;
    background-color: black;
    color: white;
}
.right{
    
    float: right;
    clear: both;
    border: 3px solid black;
    border-radius: 18px;
    background-color: rgb(201, 181, 181);
}
#send-container{
    /*display: block;*/
    margin: auto;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#messageinp{
    width: 30%;
    border: 2px solid black;
    height: 34px;
    border-radius: 18px;
    background: none;
    font-size: 23px;
    color: white;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    margin: 0px 0px;
    background-color: #6d3098;
    color: white;
    padding: 4px 6px;
    font-size: 18px;
    border-radius: 15px;
    
}
.btn:hover{
    background-image: linear-gradient(purple,blue);
}
h1{
margin-top: 5px;
font-size: 30px;
text-align: center;
}